.field {
    display: flex;
    width: 100%;
}

.advertLinkAdd {
    width: 840px;
    border: 1px solid #001AAA;
    color: #001AAA;
    margin-right: 10px;
    font-size: 22px;
}

.confirmdelete {
    color: #001AAA;
}

.confirmHeader{
    text-align: center;
}